{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "ignore": [
    "*.scss","*.css"
  ],
  "plugins": [
    [
      "babel-plugin-transform-require-ignore",
      {
        "extensions": [".less", ".sass",".css"]
      }
    ]
  ]
}